.is-position-relative {
    position: relative;
    min-height: 240px;
}

.is-position-relative img {
    width: 100%;
    padding: 0;
    -webkit-filter: blur(0.15rem);
    filter: blur(0.15rem);
}

.is-position-relative img.loaded {
    filter: none;
}

.card-title-over-image {
    position: absolute;
    bottom: 4px;
    left: 0;
    right: 0;
    background-color: #000000cf;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0.25rem;
    margin: 0.75rem;
}

.card-title-over-image p {
    color: #efefef;
    padding: .3rem .2rem;
}

.clickable {
    cursor: pointer;
}