name: Verify PR

on:
  pull_request:

env:
  DOTNET_VERSION: 10.0.x
  NODE_VERSION: 24

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: setup Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: build ClientApp
        run: |
          cd src/Bing.Wallpaper/ClientApp
          npm ci
          npm run build

      - name: Restore dependencies
        run: dotnet restore

      - name: Build ASP.NET Core app
        run: dotnet build --no-restore
